.profile__edit-button{
    width:24px;
    height:24px;
    display: flex; 
    align-items:center;
    justify-content: center;
    margin-left:18px;
    border:1px solid white;
}

@media (max-width: 750px) {
    .profile__edit-button{
      align-items: center;
      flex-direction: column;
      margin-right: 24.25px;
      margin-left: auto;
    }
}