.popup__name-input{
    width:100%;
    margin-top: 54px;
    border: none;
    border-bottom:1px solid rgba(0, 0, 0, 20%);/*Но в макете же Opacity 20%. Или я в чем то неправ?*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.popup__name-input:focus{
    outline: none;
}

