@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display:swap;
    src: url('../fonts/Inter-Black.woff2') format('woff2');
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display:swap;
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
}
/*Только bold же не используется? Все остальные вроде есть... Вообще нет ли возможности как то из макета узнать все необходимые шрифты
для проекта? Просто второй раз уже с этим спотыкаюсь и теряю время( */